*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* header  */
body{
    background-color: black;
    
    height: 500px;
}
header .contenedor{
    
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1315409a;
    height: 60px;
    position:absolute; z-index:3;
}

header .contenedor .marca{
    
    display: flex;
   align-items: center;
}


header .contenedor .marca img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
header .contenedor p{
   
    font-size: 30px;
    color: white;
    font-weight: bold;
}



header .contenedor .menu{
    
   
   
    margin: 20px;
}
header .menu ul{
    display: flex;
    flex-wrap: wrap;
}

header .menu ul li{
    
    margin: 10px;
    list-style: none;
    
}

header .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
    padding: 5px;
    font-weight:300;
    
}
header .menu ul li   .actual{
    background-color: #FF9900;
}
header .menu ul li a:hover{
    background-color: #FF9900;
    
}

.main{
    height: 900px;
    padding-top: 370px;
    padding-left: 100px;
    background-image: url("../img/fondos/opinicio.png");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main .titulo{
    
    height: 430px;
    
    
    
}


.main .titulo .nombre h3{

    color: white;
    
    font-size: 30px;
    font-weight:300;
}

.main .titulo .eslogan{

    color: white;
    
    font-size: 80px;
}
.main .boton{
  
    
    color: white;
    height: 90px;
    
    margin: 100px;
    margin-top: 80px;
    background-color: #FF9900 ;
    padding: 20px;
    border-radius: 7px;
}
.main .boton a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;

}

.frase-fondo{
    width: 100%;
    height: 700px;
    background-image: url('../img/fondos/opthanos.png');
    background-size: cover;
}

.frase-fondo .frase{
    height: 600px;
    
}
.frase-fondo .frase p{
    padding-top: 300px;
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: 300;
    font-style: italic;
   
}

.frase-fondo .autor p{
   
    font-size: 40px;
    color: white;
    text-align: center;
    
    font-weight: 300;
    font-style: italic;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #101136;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    
    margin: 0px;
}





